.form-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.form-item .label {
  height: 24px;
  min-width: 80px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.form-item .required::after {
  padding-top: 4px;
  content: "*";
  color: #ff4d4f;
}
