.validate-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.validate-container .validate-msg {
  height: 16px;
  text-align: right;
  font-size: 14px;
  color: #ff4d4f;
}

.validate-container .validate-error .form-item-content > * {
  border: 1px solid #ff4d4f;
}
